/* Base Tailwind Configurations */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

/* Custom Cursor Styles */
body,
a,
button,
svg {
  cursor: none; /* Hide the default cursor */
}

.cursor {
  pointer-events: none; /* Ensure custom cursor does not interfere with interaction */
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(196, 163, 239, 0.8); /* Updated to c4a3ef */
  border-radius: 50%;
  z-index: 9999;
  transition: transform 0.05s linear, box-shadow 0.2s ease-in-out;
}

.cursor.glow {
  box-shadow: 0 0 10px rgba(196, 163, 239, 0.8), 0 0 20px rgba(196, 163, 239, 0.6), 0 0 30px rgba(196, 163, 239, 0.4);
}

.cursor.scale-150 {
  transform: scale(1.5);
}

.cursor.scale-100 {
  transform: scale(1);
}
